/* app/app.css */
@import "tailwindcss";

/* Optional global styles */
html, body {
  margin: 0;
  padding: 0;
  font-family: system-ui, sans-serif;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
  color: #111827;
}
